body{
	background-color: whair
	;
}
ul{
	background-color: blue;
	
}
.caja1{
	display:  block;
	background-color: red;
	line-height: 100px: width: 100px;
}
.caja2{
	display: block;
	
}
.caja3{
	
}
.caja4{
	
